        <footer>
            <p> created by Andrew, Copy right {{currentYear}}</p>
            <!--we put 2016 and in node (express.js) we update it to the current year, double {} for variables -->
        </footer>