<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help page</title>
    </head>
    <body>
        {{>header}}
        <!-- partial variables are in double{} with > -->
        <p>{{WelcomeMessage}}</p>

       
        {{>footer}}
    </body>
    
</html>
 